menu "Example Configuration"
    choice
        prompt "Select the example to build"
        default EXAMPLE_BUILD_SCREEN_LVGL
        config EXAMPLE_BUILD_AW86224
            bool "aw86224"
        config EXAMPLE_BUILD_WIFI_SCAN_CONNECT_TIME
            bool "wifi_scan_connect_time"
        config EXAMPLE_BUILD_NETWORK_ADAPTER_UPDATE
            bool "network_adapter_update"
        config EXAMPLE_BUILD_I2C_SCAN
            bool "i2c_scan"
        config EXAMPLE_BUILD_SCREEN_CAMERA
            bool "screen_camera"
        config EXAMPLE_BUILD_SCREEN_LVGL
            bool "screen_lvgl"
        config EXAMPLE_BUILD_SCREEN_LVGL_TOUCH_DRAW
            bool "screen_lvgl_touch_draw"
        config EXAMPLE_BUILD_SGM38121
            bool "sgm38121"
        config EXAMPLE_BUILD_ST25R3916
            bool "st25r3916"
        config EXAMPLE_BUILD_SLEEP
            bool "sleep"
        config EXAMPLE_BUILD_XL9535
            bool "xl9535"
    endchoice

endmenu
